<!-- REQUIREMENTS: 
error_message: Give an error message if there was an error.
-->
<head>
<style>
td {border: 1px solid #dddddd;}
</style>
</head>

<center> <font size = "+30"> <b> Owen Forums </b> </font> </center>

<center> [<a href="{%url 'firstPage'%}">Home</a>] 
{% if current_user%}
[<a href="{% url 'user' current_user.pk%}">{{current_user.name}}</a>] [<a href="{%url 'logout'%}">Logout</a>] [<a href="{%url 'submitPost'%}">New Post</a>]
{% else %}
[<a href="{%url 'login'%}">Login</a>] [<a href="{%url 'signup'%}">Signup</a>]
{% endif%}
</center>

<hr></hr>

<h1>Submitting a Post.</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'submitPostLanding'%}" method="post">
{% csrf_token %}
Subject: <input type="text" name="subject" autocomplete="on" maxlength=100 required><br>
Post: <br><input type="text" maxlength=2000 size=100 name="content" required><br>
<input type="submit" value="Submit">
</form>