<!-- REQUIREMENTS: 
error_message: Give an error message if there was an error.
post: give the post that this comment is attached to.
-->
<head>
<style>
td {border: 1px solid #dddddd;}
</style>
</head>

<center> <font size = "+30"> <b> Owen Forums </b> </font> </center>

<center> [<a href="{%url 'firstPage'%}">Home</a>] 
{% if current_user%}
[<a href="{% url 'user' current_user.pk%}">{{current_user.name}}</a>] [<a href="{%url 'logout'%}">Logout</a>] [<a href="{%url 'submitPost'%}">New Post</a>]
{% else %}
[<a href="{%url 'login'%}">Login</a>] [<a href="{%url 'signup'%}">Signup</a>]
{% endif%}
</center>

<hr></hr>

<h1>Replying to a Post.</h1><br>
<h2>{{post.subject}} <i>by {{post.user.name}}</i></h2><br>
{{post.content}}<br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'submitCommentLanding' post.pk%}" method="post">
{% csrf_token %}
Comment: <input type="text" name="comment" autocomplete="on" maxlength=100 required><br>
<input type="submit" value="Submit">
</form>